/* Add your CSS styles here */

body {
 font-family: 'Open Sans',sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url("Photos.jpg");
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(0, 128, 128);
  color: rgb(0, 0, 0);
  padding: 20px;
}
h1{font-size: 66px;
	font-weight: bold;
	text-align: center;
	color: rgb(128, 0, 64);
	
}
h2{font-size: 45px;
	font-weight: bold;
	text-align: center;
	color: rgb(255, 128, 0);
	
}
h3{
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color: rgb(0, 0, 128);
	
	
}
p{
	font-size: 15px;
	color:rgb(0, 0, 64);
		text-align: center;
}

nav ul {
  list-style: none;
  padding: 5px;
  margin: 0;
}

nav li {
 display: inline-block;
display: inline;
  padding:100px;
}

nav li a {
  color: #fff;
  text-decoration: none;

}

main {
  margin: 20px;
}

section {
  margin-bottom: 30px;

  
}



@media screen and (max-width: 768px) {
  /* ... (previous media query styles) ... */

  nav li {
    display: block; /* Change back to block for small screens to stack the links */
    padding: 10px; /* Reduce the padding to 10px for small screens */
  }
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  flex-shrink: 0;
}
